html * {
    margin: 0px;
    max-width: 100%;
}

body {
    background-color: white;
}

h1 {
    font-family: sans-serif;
    font-size: 30px;
    color: #0c2735;
    padding: 5px;
}

#cabecalhotexto {
    font-family: sans-serif;
    font-size: 40px;
    color: #0c2735;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

#menu {
    background-color: #0c2735;
    padding: 5px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    text-align: center;
}

#menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 60px;
}

.item {
    background-color: white;
    text-align: center; 
    text-transform: uppercase;
    font-family: sans-serif;
    border-top: 5px solid #0c2735;
    border-radius: 1%;
    border-bottom: 5px solid #0c2735;
}

.item2 {
    background-color: white;
    text-align: center; 
    text-transform: uppercase;
    font-family: sans-serif;
    border-top: 5px solid #0c2735;
    border-radius: 1%;
    border-bottom: 5px solid #0c2735;
}

#texto {
    text-align: justify;
    font-family: sans-serif;
    text-transform: none;
    color: grey;
    font-size: 12px;
    padding: 10px;  
}

.rodape {
    background-color: #0c2735;
    height: 100px;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn:hover{
    background-color: #7fb4d0
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 60px;
}

.intro img {
    padding: 0px;
    width: 1200px;
}

.igog{
    display: grid;
    justify-content: center;
}

.img2 {
    padding: 5px;
    max-width: 120px;
}


.img3 {
    padding: 10px;
    max-width: 60px;
}

.button {
    background-color: #285f82;
    border: none;
    color: white;
    padding: 30px 32px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 75%;
    font-family: sans-serif;
  }

.button:hover {
    background-color: #5099c7;
  }
  
.itematv {
    background-color: white;
    text-align: center; 
    text-transform: uppercase;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.itemlei     {
    background-color: white;
    font-family: sans-serif;
    border-radius: 1%;
    border-bottom: 5px solid #0c2735;
}

.button1 {
    background-color: #285f82;
    border: none;
    color: white;
    padding: 22px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 60%;
    font-family: sans-serif;
  }

.button1:hover {
    background-color: #5099c7;
  }

  .button2 {
    background-color: #5099c7;
    border: none;
    color: white;
    padding: 22px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 60%;
    font-family: sans-serif;
  }

.button2:hover {
    background-color: #9dd7fc;
  }

  .button3 {
    background-color: #066663;
    border: none;
    color: white;
    padding: 22px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 60%;
    font-family: sans-serif;
  }

.button3:hover {
    background-color: #0fd4cd;
  }